.game-area {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 1px solid blue;
}

.score-area {
  border: 1px solid yellow;
  padding: 10px 0;
}

.choice-btns-area {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border: 1px solid magenta;
}

.game-btns-area {
  border: 1px solid white;
  display: table-cell;
  vertical-align: middle;
}