.game-area {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 2px solid #61dafb;
  border-radius: 2rem;
}

.score-area {
  border-bottom: 2px solid white;
  padding: 10px 0;
  border-radius: 2rem;
}

.choice-btns-area {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 5px;
}

.game-btns-area {
  border-top: 2px solid white;
  border-radius: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.prompts-block {
  font-size: 0.8rem;
  width: 350px;
  word-wrap: break-word;
  padding: 10px 0;
}