.App {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(211, 202, 202);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game-title-block {
  display: table;
  color: #61dafb;
}

.game-logo {
  display: table-cell;
  vertical-align: middle;
}

.game-title {
  display: table-cell;
  vertical-align: middle;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #61dafb;
  font-size: 0.8rem;
  align-items: flex-start;
  background-color: midnightblue;
  border-radius: 2rem;
}

#school-logo {
  height: 5vmin;
  pointer-events: none;
  display: inline;
  margin-right: 10px;
}